beautifulsoup4==4.11.2
certifi==2024.8.30
charset-normalizer==3.3.2
idna==3.10
lxml==4.9.4
python-dotenv==0.21.1
-e git+https://github.com/Cormochamelion/radiantNetScraper@948364dc1337fde960ab2be130b9ba11e095b4d3#egg=radiant_net_scraper&subdirectory=../../radiantNetScraper
requests==2.31.0
soupsieve==2.6
urllib3==2.2.3
